body{
    background-color: gainsboro;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  

}

header{
    background-color: white;
    margin: 0px;
    padding: 1px;
}

h1{
    font-size: 36px;
    margin-left: 40px;
}
.centrar{
    width: 580px;
    margin: 0 auto;
}

.post{
    background-color: white;
    margin: 40px;
    padding-bottom: 25px;
    box-shadow: 1px 3px 7px rgba(215, 215, 215, 0.6);
    border-radius: 5px;
}

span{
    color: rgb(190, 190, 190);
}
img{
    width: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post h2, .post span{
    padding: 10px;
}

.foot-post{
    margin: 10px;
}